@model List<PersonalProject.Models.Registration>

@{
    ViewBag.Title = "Edit Users";
}

<h2>Admin: Edit Users </h2>


<div class="col-lg-6">
<table>
    @foreach (PersonalProject.Models.Registration r in Model)
    {
        <tr>
       
            <td>@r.UserName</td>
            <td>@r.Password</td>
            <td>@r.FirstName</td>
            <td>@r.LastName</td>
            <td>@r.Adress</td>
            <td>@r.Email</td>
            <td>@Ajax.ActionLink("Edit","DisplayUser", new{id = r.Id}, new AjaxOptions{HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "edit"}) </td>
        </tr>

    }


</table>
</div>


<div class="col-lg-6" id="edit">
@* PARTIAL VUE INSERTION *@    
</div>
